body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#rotator, #position {
  width: 325px;
}

#log {
  width: 325px;
  height: 50px;
  display:block;
}
